@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'minecraft';
  src: url('../public/assets/Minecraftia.woff') format('woff'),
       url('../public/assets/Minecraftia.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

:root {
  --themeColor : #FBBF64;
  --hoverColor: #ffdfae;
  --boxShadow : #a98043;
  --hoverBoxShadow : #e1ae62;
  --themeColor2 : white;
  --themeTextColor : white;
  --themeTextColor2 : black;
  --backgroundImage : url(../public/assets/background.jpg)
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: black;
}

.container {
  position: relative; 
  max-width: 100%;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: rgb(0,0,0,0) transparent; /* Firefox */
  &::-webkit-scrollbar {
    height: 4px;
  }
  -ms-overflow-style: none; /* IE 10+ */
  &::-webkit-scrollbar {
    width: 0px; /* Width of scrollbar */
  }
  &::-webkit-scrollbar-track {
    background-color: transparent; /* Track color */
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--themeTextColor); /* Thumb color */
    border-radius: 8px; /* Rounded corners */
  }
}

section {
  height: 100vh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  display: flex;
}

.section {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden ;
  background: #000200;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section h2 {
  color: transparent;
  font-weight: 900;
  font-size: 14em;
  -webkit-text-stroke: 2px #fff;
  text-transform: uppercase;
}
.section .star {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  animation: animate 8s ease-in-out infinite, backgroundmove 16s linear infinite;
}

.section .star.star1 {
  animation-delay: 0s;
  background: url(/stars/star1.png);
}
.section .star.star2 {
  animation-delay: -1s;
  background: url(/stars/star2.png);
}
.section .star.star3 {
  animation-delay: -2s;
  background: url(/stars/star3.png);
}
.section .star.star4 {
  animation-delay: -3s;
  background: url(/stars/star4.png);
}
.section .star.star5 {
  animation-delay: -4s;
  background: url(/stars/star5.png);
}
.section .star.star6 {
  animation-delay: -5s;
  background: url(/stars/star6.png);
}
.section .star.star7 {
  animation-delay: -6s;
  background: url(/stars/star7.png);
}
.section .star.star8 {
  animation-delay: -7s;
  background: url(/stars/star8.png);
}

@keyframes animate {
  0%,20%,40%,60%,80%,100% {
    opacity:0;
  }
  10%,30%,50%,70%,90% {
    opacity: 1;
  }
}

@keyframes backgroundmove {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(2);
  }
}

.blog_button {
  background-color: var(--themeColor);
  color: var(--themeTextColor2);
  font-family: 'minecraft';
  padding: 5px 30px 5px 30px;
  box-shadow: -5px 5px 0px 0px var(--boxShadow);
  font-size: larger;
  border-radius: 2px;
  right: 40px;
  top:20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s, color 0.3s, background-color 0.3s; 
}
.blog_button:hover {
      transform: scale(1.01);
      color: var(--themeTextColor2);
      background-color : var(--hoverColor);
      box-shadow: -5px 5px 0px 0px var(--hoverBoxShadow);
}